* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: Arial, sans-serif;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#videos {
  height: 60vh;
  display: flex;
}

.video-box {
  flex: 1;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ЧАТ */
#chat {
  height: 40vh;
  display: flex;
  flex-direction: column;
  background: #111;
}

#messages {
  flex: 1;
  overflow-y: auto;
  padding: 6px;
  color: white;
}

#chatInput {
  height: 10vh;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
}

/* Сообщения поверх видео */
#overlayMessages {
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.overlay-msg {
  color: white;
  background: rgba(0,0,0,0.45);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
}
